<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mybatis.mapper.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.mybatis.entities.Dept" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="deptName" property="deptname" jdbcType="VARCHAR" />
    <result column="locAdd" property="locadd" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_dept
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.mybatis.entities.Dept" >
    insert into tbl_dept (id, deptName, locAdd
      )
    values (#{id,jdbcType=INTEGER}, #{deptname,jdbcType=VARCHAR}, #{locadd,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.mybatis.entities.Dept" >
    update tbl_dept
    set deptName = #{deptname,jdbcType=VARCHAR},
      locAdd = #{locadd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, deptName, locAdd
    from tbl_dept
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, deptName, locAdd
    from tbl_dept
  </select>
</mapper>