<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mybatis.mapper.DogMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.mybatis.entities.Dog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dog_Name" property="dogName" jdbcType="VARCHAR" />
    <result column="dog_Weight" property="dogWeight" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_dog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.mybatis.entities.Dog" >
    insert into tbl_dog (id, dog_Name, dog_Weight
      )
    values (#{id,jdbcType=INTEGER}, #{dogName,jdbcType=VARCHAR}, #{dogWeight,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.mybatis.entities.Dog" >
    update tbl_dog
    set dog_Name = #{dogName,jdbcType=VARCHAR},
      dog_Weight = #{dogWeight,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, dog_Name, dog_Weight
    from tbl_dog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, dog_Name, dog_Weight
    from tbl_dog
  </select>
</mapper>